@import "settings";
@import "./settings/base";

.home__header {
  height: 963px;
  width: 1758px;
  //top: 0;
  //left: -483px;
  display: flex;
  padding-right: 142px;
  position: absolute;

  .home__image {
    width: 885px;
    top: 0;
    left: -283px;
    background: transparent 0 0 no-repeat padding-box;
    position: relative;

  }

  .home__right__side {
    width: 873px;
    display: flex;
    flex-direction: column;

    .navs {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      //top: 37px;
      //left: 1075px;
      width: 683px;
      height: 95px;
      padding: 0;
      align-self: flex-end;

      .navs__login {
        align-self: flex-end;
        width: 158px;
        height: 36px;
        display: flex;
        margin-bottom: 17px;
        justify-content: space-between;
        padding: 0;
        //border: 1px solid black;

        .home__log__button {
          height: 100%;
          text-decoration: none;
          text-align: center;
          font: normal 13px $font-base;
          color: #737373;
          padding: 9px 10px 9px 10px;

          &:hover {
            border: 0.75px solid #FAD648;
            opacity: 1;
          }
            }
          }
      .navs__menu{
        top: 90px;
        left: 1075px;
        width: 683px;
        height: 42px;
        display: flex;
        justify-content: space-between;
        text-align: left;
        padding: 9px 0 9px 20px;

        .navs__menu__item {
          font: normal 18px $font-base;
          letter-spacing: 0;
          color: #3C3C3C;
          cursor: pointer;
        }
      }
        }
    .home__text {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 210px;
      margin-right: 133px;
      //border: 1px solid black;
      padding: 0;
      height: 107px;
      width: 674px;
      margin-left: 66px;


      h1 {
        text-align: center;
        font: normal 35px $font-base;
        letter-spacing: -0.76px;
        color: #3C3C3C;
        opacity: 1;
        margin: 0 0 19px 0;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    .home__deco {
      width: 253px;
      height: 33px;
      margin: 25px 341px 65px 279px;
    }

    .home__buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 674px;
      height: 120px;
      margin-left: 66px;
      //font: light 300 36px $font-base;
      text-align: center;
      color: #3C3C3C;
      //position: absolute;

     .home__button {
        //position: relative;
        letter-spacing: 0;
        color: #3C3C3C;
        opacity: 1;
       width: 208px;
       height: 94px;
       font: normal 200 36px/45px $font-base;
       &:last-of-type {
       }

}
    }
      }
    }

.three__columns {
  top: 964px;
  left: 0;
  width: 1900px;
  height: 384px;
  background: transparent url('../assets/3-Columns-Background.png') no-repeat;
  margin-top: 0;
  position: relative;
  display: flex;
  flex-direction: row;

  .column {
    width: 334px;
    height: 252px;
    margin-top: 46px;
    margin-bottom: 86px;
    margin-right: 286px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    //justify-content: space-between;
    font: $font-base;

    &:first-of-type {
      margin-left: 163px;
    }

    &:last-of-type {
      margin-right: 163px;
    }

    .number {
      //height: 122px;
      //font: $font-base;
      font-size: 90px;
      font-weight: 300;
      letter-spacing: 0;
      color: #5E5322;
      opacity: 1;
      margin: 0;
    }

    .what {
      font-size: 18px;
      font-weight: 400;
      letter-spacing: -0.36px;
      color: #3C3C3C;
      opacity: 1;
    }

    .col__text {
      font-size: 16px;
      font: $font-alt;
      letter-spacing: -0.32px;
      color: #3C3C3C;
      opacity: 1;
    }
  }
}

.steps {
  top: 1403px;
  left: 0;
  width: 1900px;
  height: 624px;
  margin-top: 55px;
  background-color: deeppink;
  position: relative;

  .steps__title {
    top: 1403px;
    left: 742px;
    width: 416px;
    height: 110px;
    margin-left: 742px;
    margin-right: 742px;
    margin-bottom: 34px;
  }

  .steps__steps {
    top: 1547px;
    left: 0;
    width: 1900px;
    height: 325px;
    /* UI Properties */
    background: #F0F1F1 0% 0% no-repeat padding-box;
    opacity: 1;
  }
}

